{% extends "base.html" %}
{% block content %}
		  <div class="row-fluid" style="margin-left:25%">
		    <div class="col-md-8">
		    <h2 class="text-center">Documents for {{concretize(project_name)}}</h2>
				<table class="table table-bordered">
					<tr>
						<th>Document Name</th>
						<th>Description</th>
						<th>Last accessed by</th>
					</tr>
				{% for document in concretize(documents) %}
					<tr>
							<td><a href= "#">{{ document.document_name }}</a></td>
							<td>{{document.description}}</td>
							<td>{{document.last_accessed_by.name}}</td>
					</tr>
				{% endfor %}
				</table>
		    </div>
		  </div>
{% endblock %}
